# disable TLS
:80 {
	reverse_proxy :8080
}

:8080 {
	# health endpoint
	handle /health {
		respond "OK"
	}

	# client websocket
	handle "/client" {
		@websockets {
			header Connection *Upgrade*
			header Upgrade websocket
		}
		reverse_proxy localhost:8091
	}

	# forward to the wasm server
	reverse_proxy :8090
}
